{% extends "layouts/dashboard_page_view.html" %}
{% load role_tags %}
{% block title %}My Profile{% endblock %}
{% block page_title %}My Profile{% endblock %}
{% block page_description %}
    Manage your profile details and view your permissions for
    <strong>DHET</strong>.
{% endblock %}
{% block page_sidebar %}{% endblock %}
{% block page_content %}
    <div class="space-y-6">
        {% include "accounts/partials/profile_account.html" with form=account_form %}
        {% if role == 'user' and has_candidate %}
            {% include "accounts/partials/profile_education.html" with form=education_form education_history=education_history %}
            {% include "accounts/partials/profile_experience.html" with form=experience_form work_experience=work_experience %}
            {% include "accounts/partials/profile_targets.html" with form=target_form target_occupations=target_occupations %}
        {% endif %}
        {% include "accounts/partials/profile_deactivate.html" %}
    </div>
{% endblock %}
